@font-face {
    font-family: x-mas ;
   src: url(./merry_christmas/MerryChristmas.otf);
}
body{
    background-color: #99a2b0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
img{
    width:25%;
    padding:2%;
}
#headline{
    text-align: center;
    background-color:#5f656e ;
    padding: 1%;
    color: white;
    width: 100%;
    margin: 1%;
    font-size: 200%;
    font-family: x-mas;
}
#content{
    text-align: center;
}
h1,h2,p,a{
    text-align: center;
}
